body {
  margin: 0;
  padding: 0%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(242, 163, 16);
  height: 70px;

}

.header__img {
  height: 45px;
  width: auto;
  padding-left: 5px;
  cursor: pointer;

}

.header__icons {
  width: 207px;
  display: flex;
  justify-content: space-between;
  padding-right: 135px;

}

.header__icons-img {
  cursor: pointer;
}


.header__icons-img:hover {
  transform: scale(1.1);
}


.header__close {
  height: 45px;
  width: auto;
  cursor: pointer;

}

.content {
  max-width: 800px;
  margin: 60px auto;

}

h1 {

  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 50px;



}

.content__sub-text {
  text-align: right;
}

.features {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin-top: 40px;
  gap: 20px;
}

.features__img {
  margin-top: 20px;
  width: 80px;
  height: auto;
}

.feature-block {
  text-align: center;
  background-color: pink;
  height: 220px;
}

.feature-block--pink {
  background-color: pink;
  text-align: center;
  width: 48%;
}

.feature-block--orange {
  width: 48%;

  background-color: rgb(242, 163, 16);
  text-align: center;
}

.feature-block--orange2 {
  background-color: rgb(242, 163, 16);
  text-align: center;
  width: 48%;
}

.feature-block--pink2 {
  background-color: pink;
  text-align: center;
  width: 48%;
}

.feature-block__img {
  margin-top: 7%;
  width: 60px;
  height: auto;
}

.feature-block__title {
  font-family: "Archivo Black";
  font-weight: 400;
  font-style: normal;
  margin: 3px;
}

.feature-block__desc {
  font-family: "Bitcount Grid Double Ink";
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: white;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0,
    "SZP1" 0,
    "SZP2" 0,
    "XPN1" 0,
    "XPN2" 0,
    "YPN1" 0,
    "YPN2" 0;
}

@media(max-width:992px) {
  .features {
    flex-direction: column;
    align-items: center;

  }
}